<style type="text/css">
	.card{
        border-radius: 10px;
		max-width: 800px;
	}
	.card-body{
		width:100%;
        padding: 0;
	}
    .card-title{
        color: white  !important;
        padding: 0%;
    }
    .small-image{
        width: 50px;
        height: 50px;
    }
</style>
{% if products %}

<div class="container mt-2">
    <div class="row">

        <!-- Blog Post -->
        <div class="card m-auto mt-5 mb-5">
            <div class="card-body mt-1 mb-1">
                <a href="{% url 'details' post.slug %}">
                    <img class="card-img-top" src="{{products.image.url}}">
                </a>
    
                <p class="card-text ">{{products.description|safe|truncatechars:180}}</p>
                {% if products.author == request.user %}
                <a href="{% url 'edit' post.slug %}" class="btn btn-primary">Update</a>
                {% endif %}
               
            </div>
            
            {% if products.upvote != 0 %}
            <div class="card-footer text-muted">
                Upvote {{products.upvote}} 
            </div>
            {% endif %}

        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="card m-auto">
                <div class="card-body mt-2 mb-2">
                    <h2 class="card-title">No results</h2>
                    <p class="card-text">There are no results.</p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
</div>
