{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.card{
		max-width: 700px;
	}
	.container{
		padding:20px;
	}

</style>

<div class="container">
    <div class="row">
        <div class="card m-auto">
            {% if products.image.url is not null %}
            <img class="card-img-top" src="{{products.image.url}}">
            {% endif %}
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">{{products.product_name}}</h2>
                <p class="card-text">{{products.description|safe}}</p>
                 {% if products.author == request.user %}
			  	<a href="{% url 'edit' products.slug %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete' products.slug %}" class="btn btn-danger"> Delete </a>
			  {% endif %}
            </div>
            <div class="card-footer text-muted">
                Posted on {{products.date_published}} by {{products.author}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}